   <nav class="navbar" [class.scrolled]="isScrolled">
        <div class="nav-container">
            <a routerLink="/" routerLinkActive="active" class="nav-logo">NED</a>
            <ul class="nav-links">
                <li><a routerLink="/about" routerLinkActive="active">About</a></li>
                <li><a routerLink="/values" routerLinkActive="active">Values</a></li>
                <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
                <li><a routerLink="/advantage" routerLinkActive="active">Advantage</a></li>
                <li><a routerLink="/reviews" routerLinkActive="active">Reviews</a></li>
            </ul>
            <div class="nav-action">
                <a routerLink="/contact" routerLinkActive="active" class="nav-btn">Get in Touch</a>
            </div>
        </div>
    </nav>
