/* Footer Section */
.main-footer {
    display: block;
    width: 100%;
    background-color: var(--umbra-color); 
    padding: 1.5rem  0; 
    border-top: 1px solid rgba(255, 255, 255, 0.05); 
    box-sizing: border-box;
    position: relative; 
}

.footer-container {
    display: flex;
    align-items: flex-end; 
    justify-content: space-between;
    width: 80%;       
    max-width: 1400px; 
    margin: 0 auto;
    position: relative;
}

.footer-logo a {
    font-family: var(--heading-font);
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--primary-color); 
    letter-spacing: 2px;
    text-decoration: none !important; 
    line-height: 1; 
    display: block;
}

.footer-copyright {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0; 
}

.footer-copyright p {
    margin: 0;
    font-family: var(--body-font);
    font-size: 0.75rem;
    color: var(--tertiary-color);
    opacity: 0.5; 
    white-space: nowrap; 
}

.footer-links {
    display: flex; 
    align-items: flex-end;
    gap: 2rem; 
}

.footer-links a {
    font-family: var(--body-font);
    font-size: 0.75rem;
    color: var(--tertiary-color);
    opacity: 0.6;
    transition: 0.3s;
    text-decoration: none !important; 
}

.footer-links a:hover {
    opacity: 1;
    color: var(--primary-color);
}